extends ../layout

block teaser
  img.card-img-top.img-fluid(
    src=`${event.imageUrl}`
    alt=`${event.name}`
  )

block title
  if title
    .jumbotron.jumbotron-fluid
      .container
        h1.display-4=title
        p.lead=event.dateFormatted
        p.lead=event.subtitle

block content
  .row
    .col-lg-8
      p=event.about
    .col-lg-4
      .card
        img.card-img-top.img-fluid(
          src=`${event.user.profileImage}`
          alt=`${event.user.name} profile image`
        )
        .card-block
          h4.card-title
            =event.user.stagename
          a.btn.btn-primary(href=event.user.publicUrl)=__('More')
