extends ../layout

block teaser
  if event.teaserImage
    .d-flex.justify-content-center.align-items-start
      img.card-img-top.img-fluid(
        src=`${event.teaserImage.publicUrl}`
        alt=`${event.name}`
      )

block title
  if title
    .jumbotron.jumbotron-fluid
      .container
        .row
          .col-lg-8
            h1.display-4=title
            p.lead=event.dateFormatted
            p.lead=event.subtitle
            p=event.about
          .col-lg-4
            if event.image
              img.card-img-top.img-fluid(
                src=event.image.publicUrl
                alt=event.title
              )

block content
  .row
    .col-lg-8
      h3=__('Schedule')
      h3=__('Performer')
    .col-lg-4
      if event.mapUrl
        .card.mb-3
          img.card-img-top.img-fluid(
            src=event.mapUrl,
            alt=event.address
          )
          .card-block
            h6.text-muted.card-title=__('Location')
            h5.card-subtitle.mb-3=event.address
            a.btn.btn-primary(href=event.direction)=__('Directions')

      each user in event.organizers
        .card
          img.card-img-top.img-fluid(
            src=user.image.publicUrl
            alt=user.name
          )
          .card-block
            h6.text-muted.card-title=__('Organizer')
            h5.card-subtitle.mb-3=user.stagename
            a.btn.btn-primary(href=user.publicUrl)=__('More')
