extends ../layout

block teaser
  img.card-img-top.img-fluid(
    src=`${event.imageUrl}`
    alt=`${event.name}`
  )

block title
  if title
    .jumbotron.jumbotron-fluid
      .container
        h1.display-4=title
        p.lead=event.dateFormatted
        p.lead=event.subtitle

block content
  .row
    .col-lg-12
