extends ../layout

block content
  .row
    .col-lg-3.col-md-4
      include menu
    .col-lg-9.col-md-8
      form(
        method='post'
        enctype='multipart/form-data'
      )
        input(
          type='hidden'
          name='_csrf'
          value=_csrf
        )
        .card
          .card-header=__('Image')
          .card-block
            .form-group
              if user.image
                img(
                  src=`/storage/${user.image}`
                )
              else
                p="Upload one you lazy bastard…"
              label.custom-file
                input.custom-file-input(
                  type="file"
                  name="image"
                )
                span.custom-file-control
            .form-group
              button.btn.btn-primary(type='submit')=__('Save')
