extends ../layout

block content
  .row
    .col-lg-3.col-md-4
      include menu
    .col-lg-9.col-md-8
      .card
        .card-header=__('Password')
        .card-block
          form(method='post')
            input(type='hidden', name='_csrf', value=_csrf)
            .form-group
              label(for='password')=__('Current Password')
              input.form-control(type='password', name='password', id='password', placeholder=__('Password'), autofocus, required)
            .form-group
              label(for='newPassword')=__('New Password')
              input.form-control(type='password', name='newPassword', id='newPassword', placeholder=__('New password'), required)
            .form-group
              label(for='confirmNewPassword')=__('Confirm Password')
              input.form-control(type='password', name='confirmNewPassword', id='confirmNewPassword', placeholder=__('Confirm password'), required)
            .form-group
              button.btn.btn-primary(type='submit')=__('Change Password')

