extends ../layout

block content
  .row
    .col-lg-3.col-md-4
      include menu
    .col-lg-9.col-md-8
      form(method='post')
        input(type='hidden', name='_csrf', value=_csrf)
        .card
          .card-header=__('Public')
          .card-block
            .form-group
              label(for='gender')=__('Gender')
              select.form-control.custom-select(name='gender')
                option(value='')=__('Please select')
                option(value='female')=__('Male')
                option(value='male')=__('Female')
                option(value='other')=__('Other')
            .form-group
              label(for='name')=__('Name')
              input.form-control(type='text', name='name', id='name', value=user.profile.name, placeholder=__('John Doe'), autofocus)
            .form-group
              label(for='birthday')=__('Birthday')
              input.form-control(type='birthday', name='birthday', id='birthday', value=user.profile.birthday, placeholder=__('YYYY-MM-DD'))
            .form-group
              label(for='citizenship')=__('About')
              textarea.form-control(rows='4', name='about')
            .form-group
              label(for='citizenship')=__('Citizenship')
              select.form-control.custom-select(name='citizenship')
                option(value='')=__('Please select')
                each country in countries
                  option(value=country.name, selected=(user.profile.citizenship && country.name==user.profile.citizenship ? 'selected' : undefined))=country.name
            .form-group
              button.btn.btn-primary(type='submit')=__('Save')
