extends ../layout

block teaser
  if performer.teaserImage
    .d-flex.justify-content-center.align-items-start
      img.img-fluid(
        src=performer.teaserImageUrl
        alt=performer.name
      )

block title
  if title
    .jumbotron.jumbotron-fluid
      .container
        .row
          .col-lg-8
            h1.display-4=performer.stagename
            if performer.name
              p.lead=performer.name
            if performer.about
              p=performer.about
            each email in performer.publicEmails
              i.fa.fa-fw.fa-envelope-o
              span=email.email
            if performer.citizenship
              p=performer.citizenship

          .col-lg-4
            img.card-img-top.img-fluid(
              src=performer.imageUrl
              alt=performer.name
            )

block content
  .row
    .col-lg-12
      h3=__('Events')
      .card-deck
        each event in performer.events
          .card
            img.card-img-top.img-fluid(
              src=event.imageUrl
              alt=event.title
            )
            .card-block
              h4.card-title=event.title
              h6.card-subtitle.text-muted=event.subtitle
            .card-block.pt-0
              p.card-text=event.dateFormatted
              a.btn.btn-secondary(href=event.publicUrl)=__('More')
