extends ../layout

block content
  .card-columns
    each item in data
      .card
        if item.image
          img.card-img-top(
            src=`/storage/${item.image}`
            alt=`${item.profile.name} profile image`
          )
        else
          img.card-img-top(
            src="/images/logo.svg"
            style="width: 100%"
            alt=`${item.profile.name} profile image`
          )
        .card-block
          h3.card-title
            =item.profile.name
          h4.card-title
            =item.stagename
          .card-title
            =item.email
