doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title #{title} - AVnode.net
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.min.css')
    link(rel='stylesheet', href='/css/font-awesome/font-awesome.css')
    link(rel='stylesheet', href='/css/main.css')
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/js/bootstrap.min.js')
    script(src='/js/ajax.js')
  body
    .container
      nav.navbar.navbar-toggleable-md.navbar-fixed-top.navbar-inverse.bg-inverse
        button.navbar-toggler.navbar-toggler-right(
          type="button"
          data-toggle="collapse"
          data-target="#navbar-collapse"
        )
          span.navbar-toggler-icon
        a.navbar-brand(href='/')
          img(src='/images/logo.svg', width='30', height='30', class='d-inline-block align-top' alt='')
        .collapse.navbar-collapse(
          id="navbar-collapse"
        )
          ul.navbar-nav.mr-auto
            li.nav-item
              a.nav-link(href='/performers')=__('Performers')
            li.nav-item
              a.nav-link(href='/events')=__('Events')
          ul.navbar-nav
            if user
              li.nav-item
                a.nav-link(href='/account')
                  i.fa.fa-user.fa-lg.fa-fw
              li.nav-item
                form(
                  method='post'
                  action='/logout'
                )
                  button.btn-link.nav-link
                    i.fa.fa-power-off.fa-lg.fa-fw
            else
              li.nav-item
                a.btn.btn-outline-secondary(href='/login')=__('Login')
              li.nav-item
                a.btn.btn-outline-success.ml-3(href='/signup')=__('Sign up')
    .container
      include partials/flash
    main
      block teaser
      block title
        if title
          .jumbotron.jumbotron-fluid
            .container
              h1.display-4=title
      .container
        block content
    footer
      .container
        .text-muted=__('AVnode.net')
    script(src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment-with-locales.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js')
