extends ../../layout

block content
  include ../nav
  .row
    .col-lg-3.col-md-4
      include ../subnav
    .col-lg-9.col-md-8
      form(
        method='post'
        enctype='multipart/form-data'
      )
        input(type='hidden', name='_csrf', value=_csrf)
        .card
          .card-header=__('Crew Details')
          .card-block
            .form-group
              label(for='name')=__('Name')
              input.form-control(type='text', name='name', id='name', value=crew.name, placeholder='', autofocus)
            .form-group
              if crew.image
                img.img-thumbnail.mb-3(
                  src=crew.imageUrl
                )
              else
                p=__('Upload image')
              label.custom-file
                input.custom-file-input(
                  type='file'
                  name='image'
                )
                span.custom-file-control
            .form-group
              label(for='about')=__('About')
              textarea.form-control(rows='4', name='about', id='about')=crew.about
            .form-group
              label=__('Members')
              ul.list-group
              each member in members
                li.list-group-item.justify-content-between
                  if member.id == user.id
                    span
                      =member.name
                      i.badge.badge-default.badge-pill=__("Me")
                  else
                    span=member.name
                  a.btn.btn-danger.ajax(
                    href='#'
                    data-method='delete'
                    data-endpoint=crew.editUrl + '/members/' + member._id,
                    data-confirm='true'
                  )
                    i.fa.fa-trash
            .form-group
              label(for='member')=__('Invite others')
              input.form-control(type='text', member='member', id='member', placeholder='Type...')
            .form-group
              button.btn.btn-primary(type='submit')=__('Save')
