extends ../../layout

block content
  include ../nav
  .row
    .col-lg-3.col-md-4
      include ../subnav
    .col-lg-9.col-md-8
      .list-group
        each crew in user.crews
          .list-group-item
            .d-flex.w-100.justify-content-between
              h5=crew.name
              .btn-group
                a.btn.btn-danger.ajax(
                  href='#'
                  data-method='delete'
                  data-endpoint=crew.editUrl,
                  data-payload=`{"_id": "${crew._id}"}`,
                  data-confirm='true'
                )
                  i.fa.fa-trash
                a.btn.btn-secondary(
                  href=crew.publicUrl
                )
                  i.fa.fa-eye
                a.btn.btn-secondary(
                  href=crew.editUrl
                )
                  i.fa.fa-pencil
