extends ../layout

block teaser
  if performance.teaserImage
    .d-flex.justify-content-center.align-items-start
      img.img-fluid(
        src=performance.teaserImage.publicUrl
        alt=performance.name
      )

block title
  if title
    .jumbotron.jumbotron-fluid
      .container
        .row
          .col-lg-8
            h1.display-4=performance.title
            if performance.about
              p.lead=performance.about
          .col-lg-4
            if performance.image
              img.card-img-top.img-fluid(
                src=performance.image.publicUrl
                alt=performance.name
              )

block content
  if performance.video
    if performance.video.video.type === 'vimeo'
      iframe(
        src=`https://player.vimeo.com/video/${performance.video.video.id}`
        width="640"
        height="360"
        frameborder="0"
        webkitallowfullscreen
        mozallowfullscreen
        allowfullscreen
      )
